body{
    background: url('https://wallpapercave.com/wp/wp3269330.png');;
    font-family: 'Nunito', sans-serif;
}
.name {
    font-size: 3.125em;
}
i.fik{
    color: purple;
}
#container {
    background-color: rgb(172, 172, 238);
    color: white;
}
a.[href] {
    font-size: 30px;
}
a:hover{
    color: white;
    background-color: rgb(25, 25, 155);
}
p::selection {
    background: pink;
    color: black;
}
div {
    margin: 20px;
    padding: 20px;

}
.hed{
    position: relative;
    background-color: rgb(238, 75, 102);
    color: white;

}
.bio{
    text-align: center;
}

@media screen and(max-width : 900px) {
    .name {
        font-size: 1.875em;
    }
}